/* Responsive styles */
@media only screen and (max-width: 3900px) {
  /* .header_navbar {
      width: 100%;
    } */
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* .navbar-nav .nav-item {
      margin-left: 20px;
    } */
  /*   
    .hero-area {
      padding-top: 180px;
    } */

  .header-section .hero-image {
    width: 100%;
    height: 50vh;
  }


}

@media (max-width: 992px) {
  /* .sticky .navbar {
      padding: 20px 0 !important;
    }
  
    .navbar-nav .nav-item {
      position: relative;
      margin: auto 20px;
    }
  
    .navbar-toggler {
      position: relative;
    } */

  .header-section .row {
    flex-direction: column-reverse;
  }

  .about-area {
    .text-wrapper {
      font-size: 15px;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
  }

  .about-area .secwrapper-reverse {
    flex-direction: column-reverse;
    left: 0;

  /* .red-bg{
    width: 60%;
    height: 100%;
  }

  img{
    width: 500px;

  } */
  }

  .header-section .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .video-section .video-bg {
    margin: 1rem 0 8rem;
  }

  .videoGallery-section {
    margin-top: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }


  .footer {
    /* padding: 50px 20px; */
    margin-top: 7rem;
  }

}


@media (min-width: 766px) and (max-width: 992px){
  .about-area .secwrapper-reverse {
  .red-bg{
    width: 52%;
    height: 100%;
  }

  img{
    max-width: 500px;

  }
  }
}

@media (max-width: 821px) {
  .navbar-brand {
    margin: 0 0 0 2.5rem !important;
  }

  .section-text {
    margin-top: 6rem;
    margin-left: 1rem;
  }

  .text-wrapper {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 2rem;
  }

  .service-count {
    text-align: left;
    position: relative;
    bottom: 0 !important;
  }
}

@media only screen and (min-width: 820px) and (max-width: 992px){
.about-area .section-text{
margin-top: 4rem;
}

.header-section .container {
  padding-left: 8rem;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .navbar-nav {
    padding: 20px 30px;
    text-align: left;
  }

  .navbar-nav .nav-item {
    margin: 0;
    padding: 5px 0;
  }

  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0;
    color: #505478;
  }
}

@media (max-width: 768px) {

  .hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;

    .hero-slide {
      height: 60vh;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .hero-text {
      position: absolute;
      top: 30%;
      left: 10%;
      transform: translateY(-50%);
      max-width: 800px;
      z-index: 2;
      opacity: 0;
      animation: fadeInText 1.2s ease-in-out forwards;
      animation-delay: 0.5s;
    }

    .hero-text h5 {
      font-size: 14px;
    }

    .hero-text h1 {
      font-size: 3rem;
      margin: 1rem 0 .7rem 0;
    }

    .hero-text p {
      font-size: 14px;
      width: 75%;
    }
  }

  .video-section .col-lg-3 {
    margin-bottom: 5rem !important;
  }

  .footer .contact,
  .footer .location {
    text-align: center;
    margin-bottom: 20px;
  }
}



@media only screen and (min-width: 481px) and (max-width: 767px) {
  .video-section .video-bg {
    padding: 14px;
  }

  .video-section .video-bg video {
    border-radius: 12px;
    width: 400px;
  }



}


@media (max-width: 767px) {
  .navbar-brand img {
    width: 130px;
  }

  .header-section .container {
    padding-left: 0;
  }

  .hero-area {
    padding-top: 130px;

    .hero-content h2 {
      font-size: 30px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 576px) {

  .header-section .container {
    padding-left: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden !important;
  }

  .video-section .video-bg {
    margin: 7rem 0 5rem;
  }

  .footer .social-icons a {
    margin-top: 2rem !important;
  }

  .footer .contact-info {
    margin-top: 0 !important;
  }
}

@media (max-width: 480px) {

  .hero-text {
    position: relative;
    /* top: -30px; */
    left: 0;
    /* transform: translateY(-20%); */
    /* max-width: 400px; */
    z-index: 2;
  }

  .hero-text h1 {
    font-size: 30px !important;

    span {
      font-size: 38px !important;
    }
  }

  .header-section .hero-text p {
    margin: 0.9rem 1rem;
}

  .headersideimg img {
    width: fit-content;
  }

  .header-section .slide-container {
    padding: 0 !important;
  }

  .header-section .signature svg {
    width: 300px;
  }

  .video-section .video-bg {
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 2px 20px #d1d1d1;
    border-radius: 14px;
  }

  .video-section .video-bg video {
    border-radius: 12px;
    max-width: 300px;
    height: fit-content;
  }
}