/* Responsive styles */
@media only screen and (max-width: 3900px) {
    .header_navbar {
      width: 100%;
    }
  
    .whatwedo-section {
      .container {
        background: linear-gradient(-180deg, #e9f0f7, #fff, #f4f7fa);
        border-radius: 20px;
        padding-top: 5rem;
        margin-bottom: 13rem;
        top: -50px;
        position: relative;
      }
    }
  }
  
  @media only screen and (max-width: 2600px) {
    .header_navbar {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1468px) {
    .sticky .header_navbar .navbar-brand {
      margin-left: 5rem !important;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .header_navbar {
      width: 100%;
  
      .navbar-nav .nav-item {
        position: relative;
        margin: auto 12px;
      }
  
      .navbar-nav .nav-item a {
        font-size: 14px;
      }
  
      .navBtn-main {
        font-size: 14px;
      }
    }
  
    .whatwedo-section {
      .container {
        padding-top: 2rem;
        margin-bottom: 15rem !important;
        top: -50px;
        position: relative;
      }
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .header_navbar {
      width: 100%;
    }
  
    .pageheader-section .container {
      position: absolute;
      padding-left: 2.2rem !important;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-left: 20px;
    }
  
    .hero-area {
      padding-top: 180px;
  
      .hero-content .hero-btns .main-btn {
        margin-right: 20px;
      }
    }
  }
  
  @media (max-width: 992px) {
    .sticky .navbar {
      padding: 20px 0 !important;
    }
  
    .navbar-nav .nav-item {
      position: relative;
      margin: auto 20px;
    }
  
    .navbar-toggler {
      position: relative;
    }
  
    .about-area {
      .text-wrapper {
        font-size: 15px;
        line-height: 1.7;
        margin-bottom: 2rem;
      }
    }
  }
  
  @media (max-width: 821px) {
    .navbar-brand {
      margin: 0 0 0 2.5rem !important;
  
      img {
        width: 140px !important;
      }
    }
  
    .section-text {
      margin-top: 3rem;
    }
  
    .text-wrapper {
      font-size: 16px;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
  
    .service-count {
      text-align: left;
      position: relative;
      bottom: 0 !important;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: -200px;
      width: 250px;
      border-radius: 4px;
      margin-top: 8px;
      background-color: #fff;
      z-index: 9;
      -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.232);
      padding: 24px 0;
  
      /* .navbar-nav .nav-item {
        margin: 5px 8px;
      } */
    }
  
    .navbar-nav {
      padding: 20px 30px;
      text-align: left;
    }
  
    .navbar-nav .nav-item {
      margin: 0;
      padding: 5px 0;
    }
  
    .navbar-nav .nav-item a {
      display: inline-block;
      padding: 6px 0;
      color: #505478;
    }
  }
  
  @media (max-width: 768px) {
  
    .hero-section {
      position: relative;
      width: 100%;
      overflow: hidden;
  
      .hero-slide {
        height: 60vh;
        background-size: cover;
        background-position: center;
        position: relative;
      }
  
      .hero-text {
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translateY(-50%);
        max-width: 800px;
        z-index: 2;
        opacity: 0;
        animation: fadeInText 1.2s ease-in-out forwards;
        animation-delay: 0.5s;
      }
  
      .hero-text h5 {
        font-size: 14px;
      }
  
      .hero-text h1 {
        font-size: 3rem;
        margin: 1rem 0 .7rem 0;
      }
  
      .hero-text p {
        font-size: 14px;
        width: 75%;
      }
    }
  
    .footer .contact,
    .footer .location {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .hero-area .counter-up .single-counter span {
      font-size: 14px;
    }
  
    .hero-area .counter-up .single-counter span.countup {
      font-size: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-brand img {
      width: 130px;
    }
  
    .hero-area {
      padding-top: 130px;
  
      .hero-content h2 {
        font-size: 30px;
        line-height: 50px;
      }
  
      .counter-up .single-counter span {
        font-size: 14px;
      }
  
      .counter-up .single-counter span.countup {
        font-size: 16px;
      }
    }
  }
  
  @media (min-width: 40rem) {
    /* .whatwedo-section .cards_item {
      width: 50%;
    } */
  }
  
  @media screen and (max-width: 576px) {
  
    .swiper-button-next,
    .swiper-button-prev {
      visibility: hidden !important;
    }
  
    .footer .social-icons a {
      margin-top: 2rem !important;
    }
  
    .footer .contact-info {
      margin-top: 0 !important;
    }
  }
  
  @media (max-width: 480px) {
  
    .hero-text {
      position: absolute;
      top: 30%;
      left: 5% !important;
      transform: translateY(-50%);
      max-width: 400px;
      z-index: 2;
      opacity: 0;
      animation: fadeInText 1.2s ease-in-out forwards;
      animation-delay: 0.5s;
    }
  
    .hero-text h5 {
      font-size: 14px !important;
    }
  
    .hero-text h1 {
      font-size: 30px !important;
  
      span {
        font-size: 40px !important;
      }
    }
  
    .hero-text p {
      font-size: 16px;
    }
  
  }
  
  @media only screen and (max-width: 428px) {
  
    .sticky .navbar {
      padding: 24px 0;
    }
  }