@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'UN Bindumathi';
    src: url('/assets/fonts/UNBindumathi.otf') format('woff2');
  }


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root{
    --main-color1: #9C1526;
    --main-color: #1C1364;
    --para: #3D3D3D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'UN Bindumathi';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'UN Bindumathi';
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

@keyframes flow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100%;
    }
}

/* NAVBAR */
.header_navbar {
    position: relative;
    background: #ffffff23;
    top: 0;
    margin: 0;
    border-radius: 0;
    z-index: 999;
    -webkit-transition: all 0.01s ease-out 0s;
    transition: all 0.01s ease-out 0s;

    .navbar {
        padding: 30px 0px;
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .navbar-nav {
        display: flex;
        flex-grow: 1;
        margin: auto 1rem;
    }

    .navbar-nav .nav-item {
        position: relative;
        margin: auto 18px;
        align-items: center;
    }

    .page-link {
        background-color: transparent;
        border: none;
    }

    .navbar-nav .nav-item a {
        font-size: 16px;
        font-weight: 500;
        color: var(--para);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .navbar-nav .nav-item i {
        color: #fff;
        background-color: var(--main-color);
        padding: 8px 9px;
        border-radius: 50px;
        font-size: 12px;
        margin-right: 1rem;
    }

    .navbar-nav .nav-item a:hover {
       color: var(--main-color1);
    }

    .navbar-toggler {
        padding: 0;
        margin-right: 2rem;
        border: none;

        .toggler-icon {
            width: 26px;
            height: 2px;
            background-color: #000000;
            display: block;
            margin: 5px 0;
            position: relative;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }
    }

}
/* 
.sticky {
    position:relative;
    top: 0;
    left: 0;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.231);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.181);

    .navBtn-main {
        border-radius: 0;
    }
}

.sticky .navbar {
    padding: 14px 0;
}

.sticky .navbar-toggler .toggler-icon {
    background-color: #000000;
}

.sticky .navbar-nav .nav-item a {
    color: #04356C;
    border-bottom: 3px solid transparent;
}

.sticky .navbar-nav .nav-item a::before {
    background-color: #497adc;
    border-bottom: 3px solid #497adc;
}

.sticky .navbar-nav .nav-item a.active,
.sticky .navbar-nav .nav-item a:hover {
    color: #497adc;
    border-bottom: 3px solid #497adc;
} */

/* Text Animation */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Header Section */
.header-section .container {
  position: absolute;
  top: 16%;
  left: 6%;
}

.header-section .hero-image {
  width: 100%;
  height: 100vh;
}

.header-section .hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-section .hero-text {
  text-align: center;
  z-index: 2;
  opacity: 0;
  animation: fadeInText 1.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.header-section .hero-text h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  margin: 2rem 0 .7rem 0;
  line-height: 1.2;

  span {
    font-size: 50px;
    font-weight: 700;
    color: #9C1526;
  }
}

.header-section .hero-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0.9rem 0;
  color: #3D3D3D;
  margin: auto 4rem;
  text-align: center;
}

.header-section .signature svg {
  margin-bottom: 1rem;
}

.header-section .signature path {
  stroke-dasharray: 4031.51171875px;
  stroke-dashoffset: 4031.51171875px;
  animation: LineAnimation 3s ease forwards;
  animation-delay: 1s;
}

@keyframes LineAnimation {
  to {
    stroke-dashoffset: 0px;
  }
}

.header-section .sliderbtm-wrapper {

  h5 {
    font-weight: 500;
  }

  h6 {
    color: #A2A2A2;
    font-size: 20px;
  }
}

.header-section .slide-container {
  padding: 0 0 0 10px !important;
}

.header-section .swiper-button-next,
.header-section .swiper-button-prev {
  /* margin: 0; */
  padding: 20px 20px;
  position: relative !important;
  bottom: 120px;
  background: #fff;
  border: 0.2px solid #D8778B;
  border-radius: 50px;
  z-index: 1000;
}

.header-section .swiper-button-prev {
  left: -8px !important;
  top: -90px !important;
}


.header-section .swiper-button-next:after,
.header-section .swiper-button-prev:after {
  font-size: 14px !important;
  color: #D8778B;
  padding: 0;
  margin: 0;
}




.video-section {
  background-color: #f8f9fb;
}

.video-section .video-bg {
  background-color: #fff;
  padding: 22px;
  box-shadow: 0 2px 20px #d1d1d1;
  border-radius: 24px;
  margin: 0 0 10rem;
}

.video-section .video-bg video {
  border-radius: 14px;
  width: auto;
}







.service-card {
  position: relative;
  background: #1A0F5C;
  color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
}

.service-card.red {
  background: #9D1B26;
}

.service-icon {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #1A0F5C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
}

.red .service-icon {
  background: #9D1B26;
}

.service-icon img {
  width: 60px;
}

.service-card h1 {
  font-size: 44px;
}

.service-card p {
  font-size: 20px;
}


.counter-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px auto;
  margin: 20px auto;

  .single-counter {
    padding: 0 40px;
    position: relative;
  }

  .single-counter::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
    background: rgba(80, 84, 120, 0.6);
    right: 0;
    top: 10px;
  }

  .single-counter:first-child {
    padding-left: 0;
  }

  .single-counter:last-child {
    padding-right: 0;
  }

  .single-counter:last-child::after {
    display: none;
  }

  .single-counter span {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }

  .single-counter span:first-child {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #497adc;
  }

  .single-counter span.countup {
    font-size: 22px;
    font-weight: 700;
  }
}



.footerbg-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 80vh;
  /* Adjust height as needed */
  object-fit: cover;
  z-index: -1;
}

.footer {
  color: #000;
  text-align: center;
  padding: 50px 20px;
  margin-top: 22rem;
  position: relative;
}

.footer h1 {
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
}

.footer h1 span {
  color: #9D1B26;
}

.footer p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.footer .signature {
  font-family: cursive;
  font-size: 1.5rem;
}

.footer .contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer .contact-info i {
  background-color: #9D1B26;
  color: #fff;
  border-radius: 50%;
  padding: 8px 9px;
  font-size: 12px;
  margin-right: 8px;
}

.footer .copyright {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #555;
}



/* .position-relative {
  position: relative;
} */

.about-area .sectionTop-line {
  position: absolute;
  top: 80px;
  border: #da8b8b 1px solid;
}

.secwrapper {
  .red-bg {
    position: absolute;
    top: 20%;
    /* left: -10%; */
    width: 80%;
    height: 100%;
    background-color: #A11A2D;
    z-index: -1;
  }

  .section-image {
    /* top: -1px; */
    left: 80px;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    z-index: 1;
  }
}

.secwrapper-reverse {
  .red-bg {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 80%;
    height: 100%;
    background-color: #A11A2D;
    z-index: -1;
  }

  .section-image {
    top: -1px;
    left: 80px;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    z-index: 1;
  }
}

.toptextbadge {
  background: #e6aaaf;
  color: #721C24;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 14px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.section-heading {
  color: #04146C;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.text-wrapper {
  color: #505A6C;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  .red-bg {
    width: 80%;
    left: -15%;
  }
}

@media (max-width: 768px) {

  .red-bg {
    width: 90%;
    left: -5%;
    top: 10%;
  }

  .section-text {
    text-align: center;
  }

  .section-image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .red-bg {
    width: 100%;
    left: 0;
    height: 50%;
  }

  .section-heading {
    font-size: 22px;
  }

  .text-wrapper {
    font-size: 14px;
  }
}


.videoGallery-section{
margin-top: 10rem;
padding-top: 7rem;
padding-bottom: 7rem;
background-color: #F9F8FF;
}

.heading-text{
  margin-bottom: 3rem;

  h1{
font-size: 44px;
font-weight: 500;
color: #000;

    span{
      color: #9C1526;
      font-weight: bold;
    }
  }

  p{
    color: #636363;
    font-size: 16px;
  }

  hr{
    color: #636363;
  }

}


.videoGallery-section .video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.videoGallery-section .main-video {
  /* flex: 2; */
}
.videoGallery-section .side-videos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.videoGallery-section .small-video {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}
.videoGallery-section .small-video video, .main-video video {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .videoGallery-section .video-gallery {
      flex-direction: column;
  }
  .videoGallery-section .side-videos {
      flex-direction: row;
      justify-content: space-between;
  }
}


/* #Progress */
.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: '\f077';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: gray;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: '\f077';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-color: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #007bff;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}



